<!DOCTYPE html>
<html>
<head>
    <title>订座</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
</head>

<body>

    <h2 style="font-weight:900;margin-left:120px" class="layui-anim layui-anim-scale">班车订座 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:blue;font-size:20px;"> Hi！ @ViewBag.UserName</span></h2>
    <hr style="height:3px" class="layui-bg-black layui-anim layui-anim-scale">



    <div class="layui-inline">
        <label class="layui-form-label">班车号</label>
        <div class="layui-input-inline" style="width: 200px;">
            <input type="text" name="" autocomplete="off" class="layui-input">
        </div>
        <button type="button" class="layui-btn layui-btn-sm" style="margin-left:10px"><i class="layui-icon layui-icon-search">查询</i></button>

    </div>

    <table class="layui-table " id="taskData" lay-filter="test"></table>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="seat">订座</a>
    </script>


    <script>
        layui.use(['laypage', 'layer', 'table', 'element', 'jquery'], function () {
            var laypage = layui.laypage //分页
                , layer = layui.layer //弹层
                , table = layui.table //表格
                , element = layui.element //元素操作
                , $ = layui.jquery;

            //第一个实例
            function getAll() {
                table.render({
                    elem: '#taskData'
                    , height: 550
                    , url: "/Task/TaskData" //数据接口
                    , title: '任务表'
                    , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                    , cols: [[ //表头
                        { type: 'checkbox', fixed: 'left' }
                        , { field: 'ID', title: 'ID' }
                        , { field: 'Car', title: '车号' }
                        , { field: 'Driver', title: '发车司机' }
                        , { field: 'Path', title: '路线', sort: true }
                        , { field: 'ResidueSeating', title: '剩余座次', sort: true }
                        , { field: 'StartTime', title: '发车时间', sort: true }
                        , { field: 'Status', title: '状态', sort: true }
                        , { fixed: 'right', width: 165, align: 'center', toolbar: '#barDemo' }
                    ]],
                    done: function (res, curr, count) {
                        $("[data-field='Status']").children().each(function () {
                        });
                        pageCurr = curr;
                    }
                    , page: true//开启分页
                });
            }

            getAll()
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id)
                    , data = checkStatus.data; //获取选中的数据
                switch (obj.event) {
                    case 'add':
                        layer.msg('添加');
                        break;
                    case 'update':
                        if (data.length === 0) {
                            layer.msg('请选择一行');
                        } else if (data.length > 1) {
                            layer.msg('只能同时编辑一个');
                        } else {
                            layer.alert('编辑 [id]：' + checkStatus.data[0].id);
                        }
                        break;
                    case 'delete':
                        if (data.length === 0) {
                            layer.msg('请选择一行');
                        } else {
                            layer.msg('删除');
                        }
                        break;
                };
            });

            //监听行工具事件
            table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var id = obj.data.ID//获得当前行数据
                    , layEvent = obj.event; //获得 lay-event 对应的值
                if (layEvent === 'detail') {
                    layer.msg('查看操作');
                } else if (layEvent === 'del') {
                    layer.confirm('确定删除行么', {
                        icon: 3, title: '系统提示'
                    },
                        function (index) {
                            $.ajax({//ajax回传数据删除
                                type: "POST",
                                url: "/Task/Delete",
                                data: { id: id },
                                success: function (msg) {
                                    getAll();
                                }
                            });
                            layer.msg("删除成功", {
                                icon: 6
                            })
                            //obj.del(); //删除对应行（tr）的DOM结构
                            layer.close(index);
                            getAll()
                        });
                } else if (layEvent === 'seat') {
                    layer.open({
                        type: 2,
                        area: ['600px', '500px'],
                        title: "订座",
                        content: '/SetSeat/SetSeat?id=' + id,
                        end: function () {
                            getAll()
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>